@page "/scanner"

<PageTitle>Scanner</PageTitle>

<MudGrid Spacing="8">
    <MudItem xl="12" xs="12" sm="12" lg="12" md="12">
        <h1>Scanner</h1>
    </MudItem>
    <MudItem xl="12" xs="12" sm="12" lg="12" md="12">
        <video id="video" style="max-width: 500px; max-height: 500px;"></video>
        <select id="videoSource"></select>
        <canvas id="canvas" style="max-width: 500px; max-height: 500px;"></canvas>
    </MudItem>
    <MudItem xl="2" xs="2" sm="2" lg="2" md="2">
        <MudButtonGroup Variant="Variant.Filled" Color="Color.Info">
            <MudButton @onclick="StartScanning">Start Scanning</MudButton>
            <MudButton @onclick="StopScanning">Stop Scanning</MudButton>
            <MudButton @onclick="GetTestProduct">Test Button</MudButton>
        </MudButtonGroup>
    </MudItem>
</MudGrid>
