@using MudBlazor.Utilities
@using Color = System.Drawing.Color
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <MudLink class="navbar-brand" href="">Barcode Scanner Live App</MudLink>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <MudLink Underline="Underline.None" class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </MudLink>
        </div>
        <div class="nav-item px-3">
            <MudLink Underline="Underline.None" class="nav-link" href="scanner">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Scanner
            </MudLink>
        </div>
        <div class="nav-item px-3">
            <MudLink Underline="Underline.None" class="nav-link" href="products">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Produkte
            </MudLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}