@page "/counter"
@inject IJSRuntime JsRuntime

<PageTitle>Scanner</PageTitle>

<h1>Scanner</h1>

<div>
    <select id="videoSource"></select>
    <video id="video" style="max-width: 500px; max-height: 500px;"></video>
    <canvas id="canvas" style="max-width: 500px; max-height: 500px;"></canvas>
    <img src="@_decodedImage" alt="decoded image" style="max-width: 500px; max-height: 500px;"/>
</div>

<h3>Barcode read: @_resultBarCode</h3>

<button class="btn btn-primary" @onclick="StartScanning">Start Scanning</button>
<button class="btn btn-primary" @onclick="StopScanning">Stop Scanning</button>

@code {
    private string _resultBarCode = string.Empty;
    private string _decodedImage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("enumerateCameras");
    }

    private async Task StartScanning()
    {
        await JsRuntime.InvokeVoidAsync("startCamera", DotNetObjectReference.Create(this));
    }

    private async Task StopScanning()
    {
        await JsRuntime.InvokeVoidAsync("stopCamera");
    }

    [JSInvokable]
    public async Task GetResult(string result)
    {
        _resultBarCode = result;
        await InvokeAsync(StateHasChanged);
    }
}